{% extends 'base.html' %} {% block content %}
<div style="min-height: 300px;" class="page-content container">
    <div class="page-header">
        <h1 class="page-title text-primary-d2">
            Data warehouse
            <small class="page-info text-secondary-d2">
                <i class="fa fa-angle-double-right text-80"></i>
                Data master warehouse
            </small>
        </h1>
    </div>
    <button style="margin-bottom: 20px;" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary"><i
            class="fa fa-pencil-alt text-110 mr-1"></i> Tambah warehouse</button>
    <table id="datatable" class="table table-border-y text-dark-m2 text-95 border-y-1 brc-secondary-l1">
        <thead class="text-secondary-m2 text-uppercase text-85">
            <tr>
                <th>No</th>
                <th>Nama warehouse</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?= $value->nama_instrument ?></td>
                <td><?= $value->jumlah_respondent ?></td>
                <td>
                    <a href="<?= base_url($locale) ?>/admin/daftar-responden-2<?= $value->action_open_respondent ?>"
                        class="btn btn-xs btn-info text-white">Open Respondents</a>
                </td>
            </tr>
        </tbody>
    </table>

    <style>
        .modal-lg {
            max-width: 55%;
        }
    </style>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Form Tambah warehouse</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="">
                        <div class="form-group row">
                            <div class="col-sm-3 col-form-label text-sm-right pr-0">
                                <label style="font-weight: bold;" for="id-form-field-1" class="mb-0">Nama
                                    warehouse</label>
                            </div>

                            <div class="col-sm-9">
                                <input name="WhsName" value="" required type="text"
                                    class="form-control col-sm-8 col-md-10" id="id-form-field-1">
                            </div>
                        </div>

                        <div class="my-2 border-t-1 brc-grey-l1 bgc-grey-l3 py-3">
                            <div class="offset-md-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="fa fa-check mr-1"></i>
                                    Submit
                                </button>

                                <button class="btn btn-secondary ml-3" type="reset">
                                    <i class="fa fa-undo mr-1"></i>
                                    Reset
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#datatable').DataTable({
            ajax: "{{ url_for('get-warehouse') }}",
            serverSide: true,
            columns: [
                {data: 'no'},
                {data: 'WhsName'},
                {'data': null,
                    'render': function(data, type, row) {
                        return `<a
                            onClick="hapus(${row.id})"
                            class="btn btn-xs btn-danger text-white">Hapus</a>`;
                    }
                }
            ],
        });
    });
    
</script>
<script>
    function hapus(id){
        $.ajax({
        url: '/warehouse',
        type: 'DELETE',
        data: {id:id},
        success: function(result) {
            //table.ajax.reload();
            location.reload()
            //toastr.success('data berhasil dihapus')
        }
        });
    }
</script>
{% endblock %}